.khan {
  padding-top: 105px;
  padding-bottom: 0;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 0 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 36px 0 10px 0;
}

.khan__quote-author-subline {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 68px 0 0 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.khan__book-pic {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 608px;
  height: 620px;
  background-image: url("../images/khan-book.jpg");
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
}
