.techniques {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.cards {
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  gap: 60px 100px;
}

.cards__item {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 0 auto 43px auto;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.cards__description {
  margin: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
