.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-subtitle_theme_dark {
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.table__row_theme_dark {
  margin-top: 0;
}
