.table {
  width: 1100px;
  margin: auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.table__row {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.table__cell > p:last-of-type {
  margin: 20px 0 0 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__row_theme_dark {
  margin-top: 0;
}
