.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 4;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.header__title {
  width: 730px;
  text-align: start;
  font-size: 102px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 64px;
  line-height: 96px;
  z-index: 5;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 4;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  margin: 0;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.margin-bottom {
  margin-bottom: 100px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.link:hover {
  opacity: 0.5;
}

.description {
  padding: 100px 0;
  background-color: white;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  margin: 0;
  text-align: start;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px 0 30px 0;
}

.two-columns__span-accent {
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  display: flex;
  color: #2f80ed;
  margin: 0;
  font-weight: normal;
}

.techniques {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.cards {
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  gap: 60px 100px;
}

.cards__item {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 0 auto 43px auto;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.cards__description {
  margin: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  padding-top: 100px;
}

.video__iframes {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  top: 50px;
}

.video__iframe {
  margin: 0;
}

.oakley {
  padding: 160px 0 0 0;
  background-color: #f2f2f2;
}

.digits {
  padding: 100px 0 100px 0;
}

.section-title {
  width: 60%;
  margin: auto;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.table__row {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.table__cell > p:last-of-type {
  margin: 20px 0 0 0;
}

.feynman {
  min-height: 890px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
  flex-direction: column;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
}

.feynman__title {
  font-size: 120px;
  width: 648px;
  margin: 0 auto;
  z-index: 5;
  line-height: 1.15;
  text-align: center;
  font-weight: 600;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px auto 0 auto;
  z-index: 5;
  padding: 0;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 637px;
  width: 867px;
  z-index: 0;
}

.khan {
  padding-top: 105px;
  padding-bottom: 0;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 0 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 36px 0 10px 0;
}

.khan__quote-author-subline {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 68px 0 0 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.khan__book-pic {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 608px;
  height: 620px;
  background-image: url("../images/khan-book.jpg");
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-subtitle_theme_dark {
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.table__row_theme_dark {
  margin-top: 0;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;
  padding: 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
  padding: 0;
  margin: 0;
}

.recources__link {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.recources__link:hover {
  opacity: 0.5;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  margin: 0;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 60px 0 40px 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.footer__column-link:hover {
  opacity: 0.5;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
